# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js

# testing
/front/coverage

# production
/front/build

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

# Ignore bundler config.
/back/.bundle

# Ignore all logfiles and tempfiles.
/back/log/*
/back/tmp/*
/back!/log/.keep
/back!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/back/tmp/pids/*
/back!/tmp/pids/
/back!/tmp/pids/.keep

# Ignore uploaded files in development.
/back/storage/*
/back!/storage/.keep

/back/public/assets
/back/.byebug_history

# Ignore master key for decrypting credentials and more.
/back/config/master.key

/back/public/packs
/back/public/packs-test
/back/node_modules
/back/yarn-error.log
/back/yarn-debug.log*
/back/.yarn-integrity